<button
  tButton
  type="button"
  style="width: 100%"
  label="确定"
  [btloading]="loading"
  [disabled]="disabled"
  [iconPos]="iconPos"
  [icon]="icon"
  [ngStyle]="{
    width: width
  }"
  [ngClass]="{
    type,
    'ui-button-success' :status == 'ui-button-success',
    'ui-button-info' :status == 'ui-button-info',
    'ui-button-warning' :status == 'ui-button-warning',
    'ui-button-danger' :status == 'ui-button-danger',
    'ui-button-primary' :type == 'ui-button-primary',
    'ui-button-pius' :type == 'ui-button-pius',
    'ui-button-rounded' : rounded
  }"
></button>
